<!DOCTYPE html>
<html lang="en">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BiClouds</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5hb7ie4Z2SZOo6Wr8y3p1I4GT8Dz/7pMogYedc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-dyDikZKKeGpMhg0W5+tlX9FWwHtpdfXwIcDkc6Q6Pa4rVm2mRsmh9H93Vp1Z1M9x" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="Index">BiClouds Tecno</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-secondary" asp-area="" asp-controller="Movies" asp-action="Create">Añadir un Producto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-secondary" asp-area="" asp-controller="Users" asp-action="Index">Gestión de Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-secondary" asp-area="" asp-controller="Pedidos" asp-action="Index">Todos los Pedidos</a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            @{
                                var genres = ViewBag.Genres as List<SelectListItem>;
                            }

                            @if (genres != null)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Categorías
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                                        <form id="filtroForm" method="get" action="/Movies/Index">
                                            @foreach (var genre in genres)
                                            {
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="categorias" value="@genre.Value" id="genre-@genre.Value">
                                                    <label class="form-check-label" for="genre-@genre.Value">
                                                            @genre.Text
                                                    </label>
                                                </div>
                                            </li>
                                            }
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                                            <button type="button" class="btn btn-secondary" onclick="limpiarFiltros()">Limpiar filtros</button>
                                        </li>
                                        </form>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <p>No disponible desde esta pestaña</p>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" asp-area="" asp-controller="Pedidos" asp-action="MisPedidos">Mis Pedidos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li>
                            <a asp-controller="Cart" asp-action="Index" class="btn btn-outline-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0" />
                                </svg>Ver Carrito
                            </a>
                        </li>
                        <li class="nav-item ms-2">
                            <div class="form-check form-switch text-center">
                                <input class="form-check-input" type="checkbox" id="darkModeToggle">
                                <br />
                                <label class="form-check-label mt-3" for="darkModeToggle">Cambiar tema</label>
                            </div>
                        </li>
                        <br />
                        <div class="nav-item ms-4">
							<partial name="_LoginPartial" />
                        </div>
                        
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Ecommerce BiClouds Tecno - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        function limpiarFiltros() {
            // Obtener el formulario
            var form = document.getElementById('filtroForm');

            // Obtener todos los checkboxes dentro del formulario
            var checkboxes = form.querySelectorAll('input[type="checkbox"]');

            // Desmarcar todos los checkboxes
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false;
            });

            // Crear un URLSearchParams con los parámetros actuales del formulario
            var params = new URLSearchParams(new FormData(form));

            // Eliminar todos los parámetros 'categorias' del URLSearchParams
            params.delete('categorias');

            // Actualizar la acción del formulario para que no incluya los parámetros 'categorias'
            form.action = form.action.split('?')[0] + '?' + params.toString();

            // Enviar el formulario para aplicar los cambios
            form.submit();
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5hb7ie4Z2SZOo6Wr8y3p1I4GT8Dz/7pMogYedc" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha384-kaeSO4oJ2vexm6DbChuj3r5JvdvnWQeKo6duZqO9r10UCMmO0f8e2r4meFbHHKxo" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>