@*
    Archivo: Views/MercadoPago/Checkout.cshtml
*@
@{
    ViewBag.Title = "Checkout";
}
@using System.Globalization

@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>

<!-- SDK MercadoPago.js -->
<script src="https://sdk.mercadopago.com/js/v2"></script>

<!-- Contenedor para el botón de pago -->
<div id="wallet_container"></div>

<script>
    const mp = new MercadoPago('@ViewBag.PublicKey');
    const bricksBuilder = mp.bricks();

    bricksBuilder.create("wallet", "wallet_container", {
        initialization: {
            preferenceId: "@ViewBag.PreferenceId",
        },
        customization: {
            texts: {
                valueProp: 'smart_option',
            },
        },
    });
</script>
