@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Profesor</h1>
    <h2> Somos Biclouds </h2>
    <h3>Alumnos: Micaela Gómez, Cintia Yllanes, Alexis Albarracín, Abril Padrón, Pablo Beltrán, Matias Chamarez, Pablo Barresi y Nicolas Saboredo.</h3>
    <center>
		<img src="" alt="Net" height="200" width="600">
    </center>
    <br />
</div> 


