@{
    ViewData["Title"] = "Política de Privacidad";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <p>Esta política de privacidad se aplica a nuestro proyecto estudiantil y describe cómo recopilamos, usamos y protegemos la información que recopilamos de los usuarios.</p>

    <h2>Información que Recopilamos</h2>
    <p>En nuestro proyecto estudiantil, podemos recopilar la siguiente información:</p>
    <ul>
        <li>Información personal proporcionada voluntariamente por los usuarios, como nombres, correos electrónicos, etc.</li>
        <li>Información de uso del sitio, como páginas visitadas y acciones realizadas dentro del proyecto.</li>
    </ul>

    <h2>Uso de la Información</h2>
    <p>Utilizamos la información recopilada para:</p>
    <ul>
        <li>Personalizar la experiencia del usuario dentro del proyecto.</li>
        <li>Mejorar nuestro proyecto y sus funcionalidades.</li>
        <li>Enviar correos electrónicos periódicos relacionados con el proyecto, si el usuario ha optado por recibirlos.</li>
    </ul>

    <h2>Protección de la Información</h2>
    <p>Implementamos medidas de seguridad para proteger la información personal de los usuarios:</p>
    <ul>
        <li>Utilizamos protocolos de seguridad estándar.</li>
        <li>Limitamos el acceso a la información personal solo a aquellos empleados y contratistas que necesitan conocerla para operar y mejorar nuestro proyecto.</li>
    </ul>

    <h2>Divulgación de Información</h2>
    <p>No vendemos, intercambiamos ni transferimos de ninguna manera información personal identificable a terceros, a menos que lo requiera la ley o sea necesario para cumplir con nuestras obligaciones legales.</p>

    <h2>Consentimiento</h2>
    <p>Al utilizar nuestro proyecto, el usuario acepta nuestra política de privacidad.</p>

    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta sobre esta política de privacidad, puedes contactarnos en [tu correo electrónico de contacto].</p>

</body>
</html>