
html {
    position: relative;
    min-height: 100%;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    max-height: 250px;
}

/* Default Light Mode */
body {
    background-color: white;
    color: black;
}

    /* Dark Mode */
    body.dark-mode {
        background-color: #222;
        color: white;
    }

            /* Navbar dark mode */
        body.dark-mode .header {
            background-color: black;
            color: white;
        }
        body.dark-mode .navbar .nav-link {
            color: white;
        }

        body.dark-mode .navbar .navbar-brand {
            color: white;
        }

        /* Footer dark mode */
        body.dark-mode .footer {
            background-color: #222;
            color: gray;
        }

/* Agrandar el tamaño del interruptor */
#darkModeToggle {
    width: 4.5rem; /* Ancho del interruptor */
    height: 1.5rem; /* Alto del interruptor */
}

    #darkModeToggle::before {
        width: 1.5rem; /* Ancho del círculo */
        height: 1.5rem; /* Alto del círculo */
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    z-index: 1000; /* Asegura que el footer esté sobre cualquier otro contenido */
}
