html {
    position: relative;
    min-height: 100%;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    max-height: 250px;
}


.card-body {
    color: black !important; /* Color de texto predeterminado para el cuerpo de la tarjeta */
}

/* Suponiendo que tu tabla tiene una clase específica, por ejemplo, .user-table */
.user-table th {
    background-color: darkblue; /* Cambia esto por el color de fondo que desees */
    color: white; /* Cambia esto por el color de texto que desees */
    padding: 10px;
}

.user-table td {
    background-color: #f2f2f2; /* Cambia esto por el color de fondo de las celdas */
    color: black; /* Cambia esto por el color de texto que desees */
    padding: 10px;
}

/* Opcional: estilo para las filas alternas */
.user-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Cambia esto por el color de fondo de las filas alternas */
}

.table{
    color: black;
}
    .table.dark-mode {
     color: white !important;
    }

/* Modo de luz predeterminado */

/*.card-body {
    margin-bottom: 10px;
}
.card-text {
    margin-top: 50px;
}*/

/* Default Light Mode */

body {
    background-color: white;
    color: blue;
}


    /* Modo oscuro */



    /* Dark Mode */

    body.dark-mode {
        background-color: #222;
        color: white;
    }


/* Estilos generales del modo oscuro: ajuste según sea necesario */
.dark-mode {
    color: white; /* Heredará texto blanco para la mayoría de los elementos */
}

/* El texto de la tarjeta permanece negro en el modo oscuro */
.card-body {
    color: inherit; /* Heredará del padre (body en este caso) */
}

/* Navbar en modo oscuro */
body.dark-mode .header {
    background-color: black;
    color: white;
}

body.dark-mode .navbar .nav-link,
body.dark-mode .navbar .navbar-brand { /* Selectores múltiples objetivo */
    color: white;
}


/* Agrandar el tamaño del interruptor */
#darkModeToggle {
    width: 4.5rem;
    height: 1.5rem;
}

    #darkModeToggle::before {
        width: 1.5rem;
        height: 1.5rem;

       
        
        body.dark-mode .table{
            color:white;
        }
        body.dark-mode .navbar .navbar-brand {
            color: white;
        }

        body.dark-mode .card{
            background-color:dimgray;
        }

        body.dark-mode .card-body {
            color: white;
        }
        /* Footer dark mode */
        body.dark-mode .footer {
            background-color: #222;
            color: gray;
        }

 


    }

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;

    z-index: 1000;

    background-color:white

}
